.header {
    position: fixed;
    color: white;
    width: 1220px;
    left: 50%;
    top: 20px;
    margin-left: -610px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
}

.header-logo {
    font-family: 'MontserratAlternates', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 127px;
    text-shadow: 0px 0px 16px #000000;
    margin: 0 60px 0 0;
}

.header-info {
    margin-right: 40px;
}

.header-number {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0px 0px 16px #000000;
    margin: 0 0 2px 0;
    color: white;
    text-decoration: none;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.6;
    text-shadow: 0px 0px 16px #000000;
    margin: 0;
}

.header-social {
    margin-right: 116px;
}

.header-icon-link {
    margin-right: 5px;
}

.header-icon-link:last-child {
    margin-right: 0;
}

.header-dropdown {
    display: flex;
    margin-right: 30px;
}

.header-arrow {
    width: 20px;
    height: 20px;
}

.header-menu-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

.header-menu-link:last-child {
    margin-right: 0;
}

.header-menu-link:first-child {
    margin-right: 2px;
}