body {
    background-color: #fbfbfb;
}



.header {
    position: fixed;
    color: white;
    width: 1220px;
    left: 50%;
    top: 20px;
    margin-left: -610px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    transition: .3s ease;
    z-index: 500;
}

.header-white {
    background-color: white;
    color: #152131;
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 0;
    padding: 20px 0 20px 0;
}

.header-shadow {
    box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.12);
}

.header-anchor {
    width: 2px;
    height: 1px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu {
    display: flex;
}

.header-logo {
    font-family: 'MontserratAlternates', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 127px;
    text-shadow: 0px 0px 16px #000000;
    margin: 0 60px 0 0;
    cursor: pointer;
}

.header-logo-white {
    text-shadow: none;
    color: #152131;
}

.header-info {
    margin-right: 40px;
}

.header-number {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0px 0px 16px #000000;
    margin: 0 0 2px 0;
    color: white;
    text-decoration: none;
    transition: .2s ease;
}

.header-number:hover {
    opacity: .7;
}

.header-number-white {
    color: #152131;
    text-shadow: none;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.6;
    text-shadow: 0px 0px 16px #000000;
    margin: 0;
    color: white;
}

.header-mail-white {
    color: #152131;
    text-shadow: none;
}

.header-social {
    margin-right: 116px;
    display: flex;
}

.header-icon {
    width: 25px;
    height: 26px;
}

.header-viber {
    background-image: url(../images/viber.svg);
    transition: .2s ease;
}

.header-viber:hover {
    opacity: .7;
    width: 25px;
    height: 25px;
}


.header-facebook {
    background-image: url(../images/facebook.svg);
    transition: .2s ease;
}

.header-facebook:hover {
    opacity: .7;
    width: 25px;
    height: 25px;
}


.header-vk {
    background-image: url(../images/vk.svg);
    transition: .2s ease;
}

.header-vk:hover {
    opacity: .7;
    width: 25px;
    height: 25px;
}

.header-icon-link {
    margin-right: 10px;
}

.header-icon-link:last-child {
    margin-right: 0;
}

.header-dropdown {
    display: flex;
    margin-right: 30px;
}

.header-arrow {
    width: 20px;
    height: 20px;
}

.header-menu-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    margin-right: 30px;
    color: white;
    text-decoration: none;
    transition: .2s ease;
}

.header-menu-link:hover {
    opacity: .7;
}

.header-menu-link-white {
    color: #152131;
}

.header-menu-link:last-child {
    margin-right: 0;
}



@media (max-width: 900px) {
    .header {
        width: 360px;
        margin-left: -180px;
    }

    .header-logo {
        margin: 0;
    }

    .header-info {
        display: none;
    }

    .header-social {
        display: none;
    }

    .header-menu {
        display: none;
    }
}