body {
    background-color: #fbfbfb;
}

.header {
    position: fixed;
    color: white;
    width: 1220px;
    left: 50%;
    top: 20px;
    margin-left: -610px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    transition: .3s ease;
    z-index: 500;
}

.header-white {
    background-color: white;
    color: #152131;
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 0;
    padding: 20px 0 20px 0;
}

.header-shadow {
    box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.12);
}

.header-anchor {
    width: 2px;
    height: 1px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu {
    display: flex;
}

.header-logo {
    font-family: 'MontserratAlternates', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 127px;
    text-shadow: 0px 0px 16px #000000;
    margin: 0 60px 0 0;
}

.header-logo-white {
    text-shadow: none;
}

.header-info {
    margin-right: 40px;
}

.header-number {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0px 0px 16px #000000;
    margin: 0 0 2px 0;
    color: white;
    text-decoration: none;
}

.header-number-white {
    color: #152131;
    text-shadow: none;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.6;
    text-shadow: 0px 0px 16px #000000;
    margin: 0;
    color: white;
}

.header-mail-white {
    color: #152131;
    text-shadow: none;
}

.header-social {
    margin-right: 116px;
}

.header-icon-link {
    margin-right: 5px;
}

.header-icon-link:last-child {
    margin-right: 0;
}

.header-dropdown {
    display: flex;
    margin-right: 30px;
}

.header-arrow {
    width: 20px;
    height: 20px;
}

.header-menu-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

.header-menu-link-white {
    color: #152131;
}

.header-menu-link:last-child {
    margin-right: 0;
}

.header-menu-link:first-child {
    margin-right: 2px;
}

