.info {
    padding: 80px 0;
    color: #152131;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.info-wrapper {
    max-width: 1220px;
    margin: 0 auto;
}

.info-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin: 0 0 60px;
}

.info-block {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

.info-block:last-child {
    display: flex;
    margin-bottom: 0;
}

.info-content-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 20px 0;
}

.info-content-title-right {
    margin: 0 0 20px 40px;
}

.info-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    opacity: 0.8;
    margin: 20px 40px 0 0;
}

.info-image {
    width: 590px;
    height: 360px;
}

.info-faq-img {
    transition: .3s ease;
}

.trans-active {
    transform: rotate(180deg);
    transition: .3s ease;
}

.trans-inactive {
    transform: rotate(0deg);
    transition: .3s ease;
}

.info-text-right {
    margin: 20px 0 0 40px;
}

.info-faq-block {
    background-color: white;
    padding: 20px;
    box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;
    width: 550px;
    cursor: pointer;
}

.info-faq-block:last-child {
    margin-bottom: 0;
}

.info-faq-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.info-faq-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    margin: 0;
}

.info-answer {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: .8;
    margin-top: 20px;
}