.lists {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #152131;
    margin-bottom: 80px;
}

.lists-content {
    display: flex;
    justify-content: center;
}

.lists-black {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lists-white {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lists-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 60px 0 30px;
}

.markup {
    color: #ff922e;
}

.lists-block-wrapper {
    margin: 0 auto;
}

.lists-block {
    background-color: white;
    box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.12);
    width: 590px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.lists-block-content {
    margin: 30px 0 30px 15px;
}

.lists-block-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    margin: 0 0 10px;
}

.lists-block-companies {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    opacity: .7;
    margin: 0 0 20px;
}

.lists-block-link {
    color: #152131;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: 900px) {
    .lists-content {
        flex-direction: column;
    }

    .lists-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .lists-block {
        width: 360px;
        margin-bottom: 15px;
    }

    .lists-block:last-child {
        margin-bottom: 0;
    }

    .lists-block-content {
        margin: 20px 0 20px 15px;
        max-width: 200px;
    }

    .lists-image {
        width: 120px;
        min-height: 124px;
    }
}