.news {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #152131;
    position: relative;
    background-color: #fbfbfb;
}

.news-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin: 0 0 40px 0;
}


.news-wrapper {
    width: 232px;
    background-color: #fbfbfb;
    /* box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.12); */
    margin-right: 15px;
}


.news-image {
    width: 232px;
    height: 120px;
}

.news-block {
    padding: 15px 10px;
    width: 212px;
}

.news-block-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-block-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.8;
    margin: 0 0 30px 0;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-block-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #152131;
    transition: .2s ease;
}

.news-block-link:hover {
    opacity: 0.8;
}


/* Slider */


.news-slider {
    width: 1220px;
    position: relative;
}

.previous-arrow {
    background-image: url(../images/arrow-left.svg);
    width: 25px;
    height: 26px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 15px 15px;
}

.next-arrow {
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 26px;
    margin-left: 5px;
    cursor: pointer;
    padding: 15px 15px;
}

.news-arrows-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

@media (max-width: 900px) {
    body {
        background-color: #f2f2f2;
    }

    .news {
        background-color: #f2f2f2;
    }

    .news-title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .news-slider {
        width: 360px;
    }

    .news-wrapper {
        width: 172.5px;

    }

    .news-image {
        width: 172.5px;
        height: 120px;
    }

    .news-block {
        width: 152.5px;
    }

    .previous-arrow {
        display: none;
    }

    .next-arrow {
        display: none;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .slick-dots li {
        list-style: none;
        margin: 0 10px;
    }

    .slick-dots button {
        font-size: 0;
        width: 8px;
        height: 8px;
        background-color: #152131;
        border-radius: 50%;
        padding: 0;
        opacity: .5;
        border-color: transparent;
    }

    .slick-active button {
        opacity: 1;
    }
}